@charset "utf-8";
/*---------- MARKETING ADVICE PAGE ----------*/
.nav {
	background:#39C;
}
.nav ul li a {
	color:#FFF;
	border-bottom:dashed 1px #9CC;
}
@media (min-width: 768px) {
	.nav ul li a {
		border-bottom:none;
		border-right:dashed 1px #9CC;
	}
	.nav ul li:last-child a {
		border-right:none;
	}
}
.logo {
	background:#39C;
}
/*Aside Box2*/
.box2 {
	display:block;
	box-sizing:border-box;
	width:100%;
	margin:0.8em 0;
	padding:0.6em;
}
@media (min-width: 768px) {
	.box2 {
		float:left;
		width:47%;
		margin:0.8em 1%;
	}
}
@media (min-width: 1024px) {
	.box2 {
		width:100%;
	}
}
.subscribeForm {
	width:100%;
}
.subscribeForm input {
	font-size:1.5em;
	padding:0.5em 0;
}
#mc_embed_signup .button {
	background-color:#39C !important;
	font-size:1.5em !important;
	line-height:normal !important;
	margin:0.2em !important;
	padding:0.6em !important;
	height:auto !important;
}
@media (min-width: 680px) {
	.subscribeForm {
		width:80%;
		margin:0 10%;
	}
}
/*Menu colours and topic blocks*/
#marketing-topics {
	clear:both;
	list-style:outside;
	list-style-type:none;
	padding:0;
	margin:0;
}
#marketing-topics li {
	float:left;
	display:block;
	width:100%;
	height:auto;
	overflow:hidden;
	min-height:150px;
	max-height:150px;
	margin-bottom:1.2em;
	text-align:center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 5px 5px ##ccc;
	box-shadow: 0 0 8px 2px #ccc;
}
#marketing-topics li:hover {
	background:#333;
	-webkit-transition: background 0.4s ease-in-out;
	-moz-transition: background 0.4s ease-in-out;
	-ms-transition: background 0.4s ease-in-out;
	-o-transition: background 0.4s ease-in-out;
	transition: background 0.4s ease-in-out;
}
#marketing-topics li a {
	display:block;
	width:94%;
	height:100%;
	overflow:hidden;
	min-height:150px;
	min-width:;
	padding:3%;
	color:#FFFFFF;
}
#marketing-topics li a:hover {
}
#marketing-topics li a p {
	margin:0;
}
/*Marketing colours and jump menu*/
.blue-bg { /*Start*/
	background:#3C9DFF;
}
.green-bg { /*Internet*/
	background:#9BB340;
}
.orange-bg { /*Social*/
	background:#FF8D42;
}
.red-bg { /*Offline*/
	background:#FF6464;
}
.purple-bg { /*Events*/
	background:#B366FF;
}
.navy-bg { /*Training*/
	background:#4656C1;
}
.first-child-link-bg {
	background:#121212;
}
.bright-orange-bg {
	background-color: #FF3300;
}
.title-pick-category {
	text-align:center;
	font-size:1.3em;
	padding-bottom:0.6em !important;
	border-bottom:dashed 1px #ccc;
	text-shadow: 1px 1px 2px #2E2E2E;
}
.title-center-medium {
	text-align:center;
	font-size:1.5em;
	line-height:1.2em;
}
/*Marketing pages - latest post blocks*/
.article-snippet-container {
	width:100%;
	height:auto;
	overflow:hidden;
	max-height:; /*197px*/
	margin-bottom:1.1em;
	background:#EEE;
	-webkit-box-shadow: 0 0 5px 5px #ccc;
	box-shadow: 0 0 8px 2px #ccc;
}
.article-snippet-container:hover {
	background:#fff;
	-webkit-transition: background 0.3s ease-in;
	-moz-transition: background 0.3s ease-in;
	-ms-transition: background 0.3s ease-in;
	-o-transition: background 0.3s ease-in;
	transition: background 0.3s ease-in;
}
.article-snippet-container a {
	display:block;
	width:100%;
	height:100%;
}
.article-snippet-image {
	height:auto;
	overflow:hidden;
	padding:5%;
	text-align:center;
}
.article-snippet-image img {
	padding:0;
	margin:0;
	border:none;
	max-width:240px;
}
.article-snippet {
	float:left;
	width:90%;
	height:auto;
	overflow:hidden;
	padding-left:5%;
	padding-right:5%;
	padding-top:1%;
}
.article-snippet p {
	margin:0;
	padding-bottom:0.5em !important;
}
.snippet-title {
	margin:0;
	font-size:1.6em;
	color:#0066CC;
}
.snippet-text {
	margin:0;
	font-size:0.9em;
	font-style:italic;
	color:#333 !important;
}
.read-more {
	color:#FF0000;
}
.article-strapline {
	font-size:1.2em;
	font-style:italic;
	color:#099;
}
.authorDate {
	display:block;
	width:100%;
	padding:0.2em 0;
	font-size:0.7em;
	color:#CCC;
	border-bottom:solid 1px #EFEFEF;
}
.authorDate a {
	text-decoration:underline;
	color:#999;
}
@media (min-width: 640px) {
	#marketing-topics li {
		width:48%; /*original was 32*/
		min-height:150px;
		max-height:150px;
		margin-bottom:2%;
	}
	#marketing-topics li:nth-child(odd) {
		margin-right:2%;
	}
	#marketing-topics li:nth-child(even) {
		margin-left:2%;
	}
	.article-snippet-image {
		float:left;
		width:20%;
		padding:3%;
	}
	.article-snippet {
		width:70%;
		padding:0 2%;
	}
}
@media (min-width: 768px) {
	.article-snippet-image {
		padding:1%;
	}
}