/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
@import url(http://fonts.googleapis.com/css?family=Exo|Open+Sans:400,300|Handlee);
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	background-color: #333;
	background-attachment:fixed;
	color:#666;
}
a:link {
	color:#FF7451;
	text-decoration:none;
}
a:visited {
	color:#FF7451;
	text-decoration:none;
}
a:hover {
	color:#3399CC;
	text-decoration:none;
}
a:active {
	color:#000000;
	text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	padding:0.20em 0;
	margin:0;
	line-height:120%;
	color:#3399CC;
}
h1 {
	font-size:1.5em;
}
h2 {
	font-size:1.4em;
}
h3 {
	font-size:1.4em;
}
h4 {
	font-size:1.4em;
}
h5 {
	font-size:1.4em;
}
h6 {
	font-size:1.4em;
}
p {
	padding-top:0.15em;
	padding-bottom:0.15em;
}
br {
	padding-top:;
	padding-bottom:;
}
strong {
	font-weight:800;
}
.hr-clear {
	clear:both;
}
#wrapper {
	width:100%;
	height:auto;
	max-width:1440px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	background-color:#FFF;
}
header {
	width:100%;
	height:auto;
	overflow:visible;
	margin-left:auto;
	margin-right:auto;
	min-height:80px;
	background-color:#eee;
}
#headlogo {
	position:relative;
	width:100%;
	height:auto;
	overflow: visible;
	min-height:60px;
	margin-left:auto;
	margin-right:auto;
	padding-top:1%;
	background: rgb(56,56,56); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(56,56,56,1) 0%, rgba(10,10,10,1) 50%, rgba(10,10,10,1) 50%, rgba(10,10,10,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,56,56,1)), color-stop(50%,rgba(10,10,10,1)), color-stop(50%,rgba(10,10,10,1)), color-stop(100%,rgba(10,10,10,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(56,56,56,1) 0%,rgba(10,10,10,1) 50%,rgba(10,10,10,1) 50%,rgba(10,10,10,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(56,56,56,1) 0%,rgba(10,10,10,1) 50%,rgba(10,10,10,1) 50%,rgba(10,10,10,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(56,56,56,1) 0%,rgba(10,10,10,1) 50%,rgba(10,10,10,1) 50%,rgba(10,10,10,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(56,56,56,1) 0%,rgba(10,10,10,1) 50%,rgba(10,10,10,1) 50%,rgba(10,10,10,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#0a0a0a',GradientType=0 ); /* IE6-9 */
}
.logo {
	position:absolute;
	margin:auto;
	top:10px;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	max-width:80px;
	padding:4px;
	background:rgba(242,245,246,1);
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 200px;
}
.tel-icon {
	display:block;
	float:left;
	width:2.0em;
	margin-left:4%;
	font-family: 'Open Sans', sans-serif;
	font-size:0.9em;
	line-height:2.0em;
	text-align:center;
	color:#FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #F30;
}
.tel-number {
	display:block;
	float:left;
	margin-left:1%;
	font-family: 'Open Sans', sans-serif;
	font-size:1.0em;
	line-height:2.0em;
	color:#FFFFFF;
}
.email-icon {
	display:block;
	float:left;
	clear:left;
	width:2.0em;
	margin-left:4%;
	font-family: 'Open Sans', sans-serif;
	font-size:0.9em;
	line-height:2.0em;
	text-align:center;
	color:#FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #F30;
}
.email-text {
	display:block;
	float:left;
	margin-left:1%;
	font-family: 'Open Sans', sans-serif;
	font-size:1.0em;
	line-height:2.0em;
	color:#FFFFFF;
}
.email-text a {
	color:#FFFFFF;
}
.email-text a:hover {
	color:#FF0000;
}
.site-title {
	position:absolute;
	margin:auto;
	top:20px;
	left:15px;
	font-family: 'Open Sans', sans-serif;
	font-size:1.1em;
	color:#FFFFFF;
	text-shadow: 0 2px 3px #333333;
}
.site-title:hover {
	color:#F30;
}
/*Navigation*/
nav {
	position:relative; /*position Mobile menu specific*/
	display:block;
	width:100%;
	height:auto;
	border-bottom:solid 2px #333;
	background:rgb(255,255,255);
}
nav ul {
	display:block;
	width:100%;
	height:auto;
	margin:0;
	padding:0;
	overflow:hidden;
	list-style:none;
	list-style-position:outside;
}
.nav ul ul {
	display:none;
	background-color: rgba(20, 20, 20, 0.9);
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.nav ul li {
	display:block;
	float:none;
	width:100%;
	padding:0;
	margin:0;
	text-align:center;
	-webkit-transition: background 400ms ease-in-out;
	-moz-transition: background 400ms ease-in-out;
	-ms-transition: background 400ms ease-in-out;
	-o-transition: background 400ms ease-in-out;
	transition: background 400ms ease-in-out;
}
.nav ul li span {
	display:block;
	font-size:0.9em;
	font-style:italic;
	font-weight:normal;
}
.nav ul li:hover {
	background: rgb(255,112,76);
	border-bottom-color:#333333;
}
.nav ul li a {
	display:block;
	width:100%;
	height:100%;
	padding:0.8em 0;
	font-family:'Open Sans', sans-serif;
	font-weight:normal;
	color:#333;
	border-bottom:dashed 1px #ccc;
}
.nav ul li a:hover {
	color:#FFFFFF !important;
}
.nav ul li:last-child {
	border-bottom:none;
}
.nav ul li:hover > ul {
	display:none;
}
.nav-mobile { /*Mobile menu specific*/
	display:none;
	cursor:pointer;
	position:absolute;
	top:-50px;
	right:10px;
	height:70px;
	width:70px;
	border-radius:100px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	padding:4px;
	background-color: rgba(255,255,255,1.0);
	background-image: url(../images/gfx/mobile-menu-jkm-icon.png);
	background-repeat: no-repeat;
	background-position: center center;
}
/*Nav End*/
/*----- Breadcrumb -----*/
#breadcrumb {
	clear:both;
	width:100%;
	height:auto;
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.7em;
	background-color: #fff;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#CCC;
}
#breadcrumb ul {
	display:block;
	float:left;
	padding:0;
	margin:0;
	list-style:none;
}
#breadcrumb ul li {
	display:block;
	float:left;
	font-style:normal;
	text-align:center;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	-ms-transition: background 0.3s ease-in-out;
	-o-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}
#breadcrumb ul li a {
	display:block;
	height:100%;
	text-decoration:none;
	color:#232323;
	border-right-style:dashed;
	border-right-width:1px;
	border-right-color:#CCC;
}
#breadcrumb ul li a {
	padding:6px 16px;
	margin:auto; /*centre img vertically & horizontally x5*/
	top:0;
	left:0;
	right:0;
	bottom:0;
}
#breadcrumb ul li:hover {
	background-color:#F30;
}
#breadcrumb a:hover {
	color:#000000;
}
/*breadcrumb end*/
.content-container {
	width:100%;
	height:auto;
}
.banner-container {
	position:relative;
	width:100%;
	height:auto;
	overflow:hidden;
}
.logo-overlay {
	position:absolute;
	top:0;
	display:;
	width:96%;
	margin-top:2%;
	padding:2%;
	text-align:center;
	background:rgba(255,255,255,0.4);
	z-index:2;
}
.logo-overlay img {
	width:100%;
	max-width:500px;
	min-width:0;
}
.banner-text { /*class replacing #img-text, adjust web pages accordingly*/
	display:block;
	clear:both;
	width:92%;
	padding:2% 4%;
	font-family: 'Open Sans', sans-serif;
	color:#FFF;
	background-color: rgba(20, 20, 20, 0.6);
}
#mainCont {
	width:92%;
	padding:0 4%;
	font-family: 'Open Sans', sans-serif;
	font-size:1.1em;
	color:#666666;
}
main header {
	background-color: transparent;
}
article footer {
	background:none;
	min-height:0;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top:dashed 1px #ccc;
}
aside {
	clear:both;
	width:94%;
	padding-left:3%;
	padding-right:3%;
	line-height:1.5em;
	border-left-style:none;
	border-top:solid 2px #CCC;
	text-align:center;
}
/*----- JUMP MENUS - HORIZONTAL AND ASIDE -----*/
.jump-menu, .jump-menu-horz {
	display:block;
	clear:both;
	width:100%;
	height:auto;
	overflow:hidden;
	margin:0;
	padding:0;
	list-style:outside;
	list-style-type:none;
}
.jump-menu-horz {
	border:solid 1px #CCC;
	margin-top:0.5em;
	padding:0.8em;
}
.jump-menu li, .jump-menu-horz li {
	display:block;
	float:left;
	height:auto;
	overflow:hidden;
}
	.jump-menu li {
		width:100%;
	}
	,jump-menu-horz li {
		width:auto;
	}
.jump-menu li:hover, .jump-menu-horz li:hover {
	background: rgb(255,112,76);
	-webkit-transition: background 400ms ease-in-out;
	-moz-transition: background 400ms ease-in-out;
	-ms-transition: background 400ms ease-in-out;
	-o-transition: background 400ms ease-in-out;
	transition: background 400ms ease-in-out;
}
.jump-menu li a {
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
	color:#333;
}
	.jump-menu li a {
		padding:0.4em 0;
		font-size:1.0em;
		text-align:center;
		border-bottom:dashed 1px #CCC;
	}
	.jump-menu-horz li a {
		padding:0.4em 0.8em;
		font-size:0.85em;
		text-align:center;
		border-right:solid 1px #CCC;
	}
		.jump-menu-horz li:last-child a {
			border-right:none;
		}
.jump-menu li a:hover, .jump-menu-horz li a:hover {
	color:#FFF;
}
/*----- FOOTER -----*/
#footlogo {
	position:relative;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	clear:both;
	text-align:center;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(10,10,10,1) 51%, rgba(10,10,10,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(51%,rgba(10,10,10,1)), color-stop(100%,rgba(10,10,10,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(10,10,10,1) 51%,rgba(10,10,10,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(10,10,10,1) 51%,rgba(10,10,10,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(10,10,10,1) 51%,rgba(10,10,10,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(10,10,10,1) 51%,rgba(10,10,10,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0a0a0a',GradientType=0 ); /* IE6-9 */
}
#footlogo img {
	max-width:70px;
	padding:0.5%;
	background-color:#FFFFFF;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}
footer {
	display:block;
	clear:both;
	width:100%;
	height:auto;
	min-height:100px;
	overflow:hidden;
	margin: 0% auto;
	background: rgb(10,10,10);
}
footer h3 {
	padding-bottom:0.8em;
	color:#FFFFFF;
}
#sitelinks, #address {
	clear:both;
	width:90%;
	padding:1% 5%;
	margin:1.0em auto;
	font-family: 'Open Sans', sans-serif;
	font-size:0.9em;
	line-height:1.8em;
	text-align:center;
}
#sitelinks {
	color:#CCC;
}
#sitelinks a, #address a {
	color:#FF3300;
}
#sitelinks a:hover, #address a:hover {
	color:#FFFFFF;
}
#address { /*Schema address*/
	font-family: 'Open Sans', sans-serif;
	color:#999;
}
#address div {
	padding-top:;
	padding-bottom:0em;
}
/*----- BLOCK STYLES -----*/
.block {
	display:block;
}
.clear {
	clear:both;
}
.containerRow {
	display:flex;
	clear:both;
	width:100%;
}
/*Columns will flex, add as many as required*/
.col {
	flex:1;
	box-sizing:border-box;
}
.col2 {
	width:100%;
}
.box-pad {
	width:96%;
	padding:2%;
}
.box-border {
	border:solid 1px #3399CC;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomright: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.package, .package-single {
	display:block;
	clear:both;
	width:92%;
	height:auto;
	overflow:hidden;
	padding:0.7em 4%;
	margin:0.75em 0;
	-webkit-transition: background 0.4s ease-in;
	-moz-transition: background 0.4s ease-in;
	-ms-transition: background 0.4s ease-in;
	-o-transition: background 0.4s ease-in;
	transition: background 0.4s ease-in;
}
.package:hover {
	background:#EEE;
}
.package-addon {
	width:auto;
	padding:0 4%;
	background-color:#E4F8F3;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomright: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
/*SQUARE FEATURE BLOCKS*/
.square-blocks {
	width:100%;
	height:auto;
	overflow:hidden;
	padding: 1.0em 0;
	margin:0;
}
.square-blocks li {
	display:block;
	float:left;
	width:92%;
	height:auto;
	overflow:hidden;
	margin-left:4%;
	margin-right:4%;
	margin-bottom:1.5em;
	text-align:center;
	background-image: linear-gradient(to bottom, #EEE 50%, #39C 50%);
	background-size:100% 201%;
	transition:background-position 1s;
	-webkit-box-shadow: 0px 5px 3px 5px #EEE;
	box-shadow: 0px 5px 3px 5px #EEE;
}
.square-blocks li:hover {
	-webkit-transition: background 0.4s ease-in-out;
	-moz-transition: background 0.4s ease-in-out;
	-ms-transition: background 0.4s ease-in-out;
	-o-transition: background 0.4s ease-in-out;
	transition: background 0.4s ease-in-out;
	background-position:0 -100%;
}
.square-blocks li a {
	display:block;
	width:100%;
	height:auto;
	color:#000000;
}
.square-blocks li img {
	width:100%;
	max-width:256px;
	height:auto;
}
.square-blocks-title {
	display:block;
	clear:both;
	width:90%;
	padding-top:0.5em;
	padding-bottom:0.5em;
	margin:auto;
	font-family: 'Open Sans', sans-serif;
	text-align:center;
	font-size:1.4em;
}
.square-blocks-button {
	display:block;
	clear:both;
	width:90%;
	padding:0.3em 0;
	margin:auto;
	margin-bottom:1.0em;
	font-family: 'Open Sans', sans-serif;
	text-align:center;
	font-size:1.3em;
	color:#FFFFFF;
	background:#39C;
}
.square-blocks-button a {
	display:block;
	width:100%;
	height:100%;
	color:#FFFFFF;
}
.square-blocks li:hover .square-blocks-button {
	background:rgb(255,51,0);
	-webkit-transition: background 0.4s ease-in-out;
	-moz-transition: background 0.4s ease-in-out;
	-ms-transition: background 0.4s ease-in-out;
	-o-transition: background 0.4s ease-in-out;
	transition: background 0.4s ease-in-out;
}
.square-blocks li:hover .square-blocks-title {
	color:;
}
/*----- square blocks end -----*/
/*----- Call To Action -----*/
.cta1 {
	display:block;
	border-left:solid 6px #F96;
	padding:0.4em 1.0em;
	margin-bottom:1.0em;
}
	.cta1 p {
		font-size:1.0em;
		margin:0;
	}
.cta2 {
	display:block;
	clear:both;
	width:100%;
}
.cta2 .title {
	font-size:1.2em;
}
.cta2 .title, .cta2 .button, .cta2 .sub-line {
	display:block;
	margin:0.5em auto;
	text-align:center;
}
.cta2 .button {
	width:300px;
	background:#09C;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:solid 1px #39C;
	font-size:0.9em;
	-webkit-transition: background 0.4s ease-in-out;
	-moz-transition: background 0.4s ease-in-out;
	-ms-transition: background 0.4s ease-in-out;
	-o-transition: background 0.4s ease-in-out;
	transition: background 0.4s ease-in-out;
}
.cta2 .button:hover {
	background:#3399CC;
	border:solid 1px #39C;
}
.cta2 .button a {
	display:block;
	width:100%;
	height:100%;
	padding:0.5em;
	font-size:1.2em;
	color:#FFFFFF;
	white-space:wrap;
}
.cta2 .sub-line {
	font-size:1.0em;
}
/*----- ENQUIRY FORM -----*/
#enquiry-form {
	width:100%;
}
#enquiry-form div {
	width:100%;
	float:left;
	margin-bottom:15px;
}
#enquiry-form fieldset {
	padding:2%;
	margin-bottom:20px;
	border:1px dotted #333;
}
#enquiry-form legend {
	font-size:1.3em;
	color:#399;
}
#enquiry-form label {
	width:98%;
	float:none;
}
#enquiry-form label#message {
	width:100%;
	clear:both;
	margin-bottom:15px;
}
#enquiry-form textarea {
	width:100%;
	height:130px;
	clear:both;
	font-family: Arial, Helvetica, sans-serif;
	font-size:1.0em;
}
#enquiry-form input, #enquiry-form select {
	width:98%;
	float:none;
	height:1.7em;
	font-size:1.0em;
	font-weight:normal;
	color:#666;
}
#enquiry-form .checkbox {
	margin-left:1%;
	margin-right:1%;
	border-bottom:solid 2px #F60;
	text-align:center;
}
#enquiry-form .checkbox label {
	width:100%;
	clear:both;
}
#enquiry-form .checkbox input {
	width:100%;
	clear:both;
}
#enquiry-form input#submit {
	margin-bottom:1.5em;
}
.recaptcha {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px !important;
	margin-top:5px !important;
	text-align:center;
}
.recaptcha div div {
	width:100% !important;
	margin-top:0px !important;
	margin-bottom: 0px !important;
}
.notice-block {
	display:block;
	clear:both;
	width:100%;
	margin-top:1.0em;
	margin-bottom:0.5em;
}
.hightlighted-text {
	color:#FF3300;
	padding:0.7em;
}
/*End - Enquiry form*/
/*----- TEXT STYLES -----*/
.title {
	margin:0.3em 0;
	font-size:1.6em;
	color:#3399CC;
}
.underline {
	border-bottom-style:dashed;
	border-bottom-width:1px;
	border-bottom-color:#FF3300;
}
.article-strapline {
	margin:0;
	padding-left:0.5em;
	font-size:1.1em;
	font-style:italic;
	color:#3399CC;
	border-left:solid 2px #3399cc;
}
.majoring {
	display:block;
	clear:both;
	padding:0;
	margin:0.3em 0;
	font-family: 'Handlee', cursive;
	font-size:1.8em;
	text-align:center;
	color:#666;
	text-shadow: 0 2px 4px #E3E3E3;
}
.introScript {
	font-family: 'Handlee', cursive;
	font-size:1.6em;
}
.small-text {
	font-size:0.7em;
}
.pCen {
	text-align:center;
}
.price {
	font-size:1.5em;
	color:#3399CC;
}
.work-level-label, .work-level-status {
	font-size:1.4em;
}
.work-level-label {
	color:#3399CC;
}
.work-level-status {
	color:;
}
/*----- LIST STYLES -----*/
.cs-points {
	display:block;
	clear:both;
	height:auto;
	overflow:hidden;
	padding:0;
	margin:0;
	margin-top:0.4em;
	border-left:solid 2px #F63;
}
.cs-points li {
	float:left;
	margin-left:10%;
	padding:0.2em 0;
	list-style:outside;
	list-style-type:square;
	font-size:1.2em;
	color:#FF6633;
}
.cs-points li span {
	color:#3399CC;
}
.key-facts {
	list-style-type:none;
	list-style:outside;
	display:block;
	width:96%;
	padding:2%;
	margin:0;
	background-color:#EEEEEE;
}
.key-facts li {
	display:block;
	width:100%;
	height:auto;
	overflow:hidden;
	padding:0.3em 0;
}
.key-facts li .stat, .key-facts li .data {
	display:block;
	float:left;
	text-align:center;
}
.key-facts li .stat {
	width:100%;
	font-size:1.3em;
	color:#39C;
}
.key-facts li .data {
	width:100%;
	border-bottom:dashed 1px #39C;
}
.features-list {
	display:block;
	clear:both;
	width:92%;
	height:auto;
	overflow:hidden;
	margin:0;
	margin-bottom:1.0em;
	padding:2% 4%;
	list-style:outside;
	list-style-type:none;
	border:solid 1px #3399CC;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.features-list li {
	padding:0.4em 0;
	text-align:center;
	color:#069;
	border-bottom:dashed 1px #5CBDE2;
}
.features-list li:hover {
	background:#FFF;
	color:#39C;
}
/*----- IMAGE STYLES -----*/
.responsive {
	width:100%;
	height:auto;
}
.img-left {
	float:left;
	padding:0 10px;
}
.img-right {
	float:right;
	padding:0 10px;
}
.img-600 {
	max-width:600px;
}
.banner {
	max-width:1440px;
	min-width:768px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Media Queries
   Mobile first approach
   ========================================================================== */
@media (min-width: 1px) and (max-width: 767px) {
	.logo {
		display:none;
	}
	/*Mobile Menu Setup*/
	nav {
		min-height:30px;
	}
	.nav-list {
		display:none;
	}
	.nav-mobile {
		display:block;
	}
	.nav-active {
		display:block;
	}
	.nav-active + .nav-mobile {
		background-color:rgba(255,255,255,0.7);
	}
	.nav-mobile-open {
		border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
	}
	#breadcrumb {
		display:none;
	}
}
@media (min-width: 600px) {
	.jump-menu li a {
		border-bottom:none;
	}
	.jump-menu li:last-child a {
		border-right:none;
	}
	#enquiry-form .checkbox {
		width:30%;
		float:left;
	}
	.cta1 {
		width:96%;
		text-align:left;
	}
	.cta1 .cta-1-button {
		max-width:200px;
		margin:0.5em 0;
	}
	.footnav {
		display:block;
	}
	.majoring {
		font-size:2.0em;
	}
}
@media (min-width: 768px) {
	h1 {
		font-size:1.9em;
	}
	h2 {
		font-size:1.8em;
	}
	h3 {
		font-size:1.7em;
	}
	h4, h5, h6 {
		font-size:1.6em;
	}
	#headlogo {
		min-height:85px;
	}
	.logo {
		display:block;
	}
	.site-title {
		top:30px;
		right:15px;
		font-size:1.6em;
	}
	.nav {
		position:;
	}
	.nav ul li {
		float:left;
		width:16%;
	}
	.nav ul li:first-child, .nav ul li:last-child {
		width:10%;
	}
	.nav ul li ul li:last-child {
		width:100%;
	}
	.nav ul li a {
		border-bottom:none;
		border-right:dashed 1px #CCC;
		font-size:0.8em;
	}
	.nav ul li:last-child a {
		border-right:none;
	}
	.nav ul li:hover > ul {
		display:block;
	}
	.nav ul ul {
		position:absolute;
		left:0;
		width:100%;
		height:auto;
		overflow:hidden;
		z-index:999999;
	}
	.nav ul ul li {
		display:block;
		width:100%;
		float:none;
		font-size:1.0em;
	}
	.nav ul ul li:first-child {
		width:100%;
	}
	.nav ul ul li:nth-child(4) {
		width:100%;
		border-right:none;
	}
	.nav ul ul li a {
		width:90%;
		padding-left:5%;
		padding-right:5%;
		padding-top:1.5em;
		padding-bottom:1.5em;
		font-weight:normal;
		color:#FFFFFF !important;
		border-bottom:dashed 1px #3F3F3F;
	}
	.banner-text { /*class replacing #img-text, adjust web pages accordingly*/
		position:absolute;
		bottom:0%;
		clear:none;
		font-size:1.4em;
	}
	#breadcrumb {
		display:none;
	}
	.article-strapline, .cta1 p, .cta2 .sub-line {
		font-size:1.2em;
	}
	.cta2 .title {
	}
	.square-blocks li {
		width:44%;
		margin-left:2%;
		margin-right:2%;
	}
	.square-blocks li:first-child {
		margin-left:4%;
	}
	.square-blocks li:nth-child(2) {
		margin-right:4%;
	}
	.square-blocks li:nth-child(3) {
		margin-left:4%;
	}
	.square-blocks li:last-child {
		margin-right:4%;
	}
	#network-list li {
		width:43%;
		padding:0 2%;
		margin:2% 1%;
	}
	#sitelinks, #address {
		font-size:0.9em;
	}
	.key-facts li .stat, .key-facts li .data {
		text-align:left;
	}
	.key-facts li .stat {
		width:20%;
		font-size:1.0em
	}
	.key-facts li .data {
		clear:right;
		width:80%;
	}
	.cs-points li {
		margin-left:5%;
	}
	.package {
		float:left;
		clear:none;
		width:29%;
		padding:0.7em 1%;
		margin:0 1%;
		margin-bottom:1.5em;
	}
}
@media (min-width: 900px) {
	.nav ul li a {
		padding:1.0em 0;
	}
	.nav ul ul {
		left:auto;
		width:16%;
		max-width:260px;
	}
	.nav ul ul li, nav ul ul li:first-child {
		width:100% !important;
	}
	.nav ul ul li a {
		border:none !important;
	}
	.footnav {
		float:right;
		width:50%;
	}
	#sitelinks {
		float:left;
		clear:none;
		width:46%;
		margin:0;
		padding:0.25em 2%;
		font-size:0.8em;
		text-align:left;
	}
	#address {
		float:right;
		clear:none;
		width:46%;
		padding:0.25em 2%;
		margin:0;
		text-align:right;
	}
	.features-list {
		-moz-column-count: 2;
		-moz-column-gap: 20px;
		-webkit-column-count: 2;
		-webkit-column-gap: 20px;
		column-count: 2;
		column-gap: 20px;
	}
	.majoring {
		font-size:2.6em;
	}
}
@media (min-width: 1024px) {
	.nav ul li a {
		font-size:1.0em;
	}
	.banner-container {
		clear:both;
	}
	.jump-menu li {
		border-bottom:dashed 1px #CCC;
	}
	.col2 {
		float:left;
		width:44%;
		padding:0 3%;
	}
}
@media (min-width: 1280px) {
	#mainCont {
		float:left;
		width:68%;
		padding-left:3%;
		padding-right:0%;
	}
	aside {
		float:right;
		clear:none;
		width:23%;
		height:auto;
		overflow:hidden;
		padding-left:1%;
		padding-right:2%;
		border-left:solid 2px #CCCCCC;
		border-top:none;
		font-family: 'Open Sans', sans-serif;
		line-height:1.5em;
	}
	.banner-text {
		font-size:2.5em;
	}
	nav ul li {
		font-size:1.0em;
	}
	nav ul li span {
		font-size:0.8em;
	}
	.square-blocks li {
		width:20%; /*256px*/
	}
	.square-blocks li:nth-child(2) {
		margin-right:2%;
	}
	.square-blocks li:nth-child(3) {
		margin-left:2%;
	}
	#enquiry-form label {
		width:30%;
		float:left;
		text-align:left;
	}
	#enquiry-form .checkbox {
		width:18%;
		float:left;
	}
	#enquiry-form .checkbox label {
		text-align:center;
	}
	#enquiry-form input, #enquiry-form select {
		width:68%;
		float:right;
		text-align:left;
	}
	.majoring {
		font-size:3.0em;
	}
}
@media (min-width: 1440px) {
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}