/* .recaptcha-a {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
} */


/* @media screen and (max-height: 575px) { 
    #rc-imageselect, .g-recaptcha { 
        transform:scale(0.77); 
        -webkit-transform:scale(0.77); 
        transform-origin:0 0; 
        -webkit-transform-origin:0 0; 
    }
} */

/* .g-recaptcha {
-webkit-transform: scale(0.77);
     -moz-transform: scale(0.77);
      -ms-transform: scale(0.77);
       -o-transform: scale(0.77);
          transform: scale(0.77);
   -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
       -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
           transform-origin: 0 0;
} */


/* margin: 0 auto;display: table */


/* width: desired_width;
border-radius: 4px;
border-right: 1px solid #d8d8d8;
overflow: hidden; */


