.row {
    margin-bottom: 10px;
}

.navbar-brand
{
    margin: 1;
    padding: 0;
}

.navbar-brand img
{
    max-height: 100%;
}


.navbar-default {
    background-color: #1E90FF;
    border-color: #FFFFFF;
} 

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #FFFFFF;
    color: #000000;
}

.navbar-toggle {
    background-color: #FFFFFF;
    color: #000000;
}



.ticker {
position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #ff0000;
}
